[2020-02-11 09:14] kevinbowman opened #2 "references to c:\temp\debug.txt"
Hi Sam,

We get this issue when running the task:

![image](https://user-images.githubusercontent.com/19746567/74223514-c87ee000-4cae-11ea-91ef-403afbafeb93.png)

With or without enabling diagnostics on the pipeline.

Cheers

Kevin.

[2020-02-11 19:58] sam-cogan commented on #2
Thanks for spotting this, version 1.0.11 is rolling out now that fixes this.

[2020-02-11 19:58] #2 closed

[2020-03-11 11:24] jf781 opened #3 "If Folder Path has a "." in the name it does not check the files"
Hi Sam - Thanks for putting this together.  I've added this to my pipeline and was able to get it to work but did noticed that if the template folder path had a "." in the name the tests did not seem to run.

For example, if I had the templates in a folder "ARM.Templates" I got the response below.

![image](https://user-images.githubusercontent.com/50719731/76411811-83f36c80-6360-11ea-8923-2c9497e

[2020-03-16 21:56] JaccoRademaker opened #4 "Wildcards in test paths fail when not strictly following conventions"
In our use case, we have a repository containing multiple ARM templates.
The extension currently allows wildcards, but then the templates have to be named `mainTemplate.json` or `azuredeploy.json`.
And with testing multiple files in different directories, where the files have the same name, it is hard to relate the test results to the tested template.

I had a look at the extension and I think thi

[2020-03-17 18:32] sam-cogan commented on #4
Hey Jacco, thanks for raising the issue. Is this a multiple templates nested within folders, or just multiple templates in a folder? For the later scenario this should work, as I hit the same issue when using the TTK with templates not following the naming conventions. If you can send me more details on the scenario I can look into.

That said, I am very happy to accept contributions, so please do

[2020-03-17 18:32] sam-cogan commented on #4
And I see you already did, let me check that out

[2020-03-17 18:36] sam-cogan commented on #3
Hey, thanks for raising this. Will take a look into how we can fix this.

[2020-03-25 08:48] poz1234 opened #6 "##[error]Invalid JSON primitive: ."
When I try and run the extension in my build pipelines against either ARM templates that I have created or against one that I extracted directly from the Azure portal I get the following error.  I have tried with self hosted window based agents and Microsoft hosted agents.

Mode                LastWriteTime         Length Name

----                -------------         ------ ----

-a----        3

[2020-03-28 12:39] sam-cogan commented on #6
Are you able to provide a copy of a template that causes this error? Please remove anything that may be confidential.

[2020-03-29 11:22] sam-cogan commented on #4
Resolved By #5

[2020-03-29 11:22] #4 closed

[2020-04-03 22:18] sam-cogan commented on #3
This is fixed in the 1.0.36 release

[2020-04-03 22:18] #3 closed

[2020-04-09 09:19] CozyBadger commented on #6
@poz1234 I came accross this one a couple of days ago, too. In my case, the provided template file wasn't a valid json (missing quotes on one element), which caused the whole task to stop. Hence no test result was written -> file not found. Can you verify validity of your template with ConvertFrom-Json cmdlet?

[2020-05-09 12:06] sam-cogan commented on #6
Closing this as there has been no response. Please re-open if you have an example I can test.

[2020-05-09 12:06] #6 closed

[2020-05-12 14:17] maikvandergaag opened #10 "exception during execution"
Exception calling "Replace" with "2" argument(s): "The RegEx engine has timed out while trying to match a pattern to an input string. This can occur for many reasons, including very large inputs or excessive backtracking caused by nested quantifiers, back-references and other factors." Exception calling "Replace" with "2" argument(s): "The RegEx engine has timed out while trying to match a pattern

[2020-05-12 16:59] maikvandergaag commented on #10
Strange issue that appeared looks like it also magically disappeared

[2020-05-12 16:59] #10 closed

[2020-05-26 18:05] samrobillard opened #11 "Add possibility to use the "Skip" parameter of the ARM-TTK module"
Hi,

Some ARM templates like policy definitions might require empty properties in the template but doing so fails the test that checks for empty properties. Locally, I use the "Skip" parameter to work around that until the issue I raised with arm-ttk is addressed. But, it doesn't seem to be possible in the Azure DevOps extension. Would it be possible to add that feature?

Thanks,

[2020-06-05 07:52] sam-cogan commented on #11
This is a great idea, I'll look to add it.

[2020-06-11 13:14] samrobillard opened #12 "Get ARM-TTKK latest repo version on each run"
Hi,

Would it be possible for the extension to update its content before each run? The ARM-TTK repo contains a few fixes that are not present in this extension.

Thanks,

[2020-06-12 03:31] JFolberth opened #13 "Issue with using custom ARM template file names"
If using a ARM file with a different name then what is defined as IsMainTemplate :
'mainTemplate.json', 'azureDeploy.json', 'prereq.azuredeploy.json'

The TTK extension is giving an incorrect error message
`The location parameter of nested templates must not have a defaultValue property. It is "[resourceGroup().location]"`

One might want to use custom names for their ARM templates if dealing with

[2020-06-13 16:24] sam-cogan commented on #13
Can you provide a scene shot of your extension settings please? The extension is designed to work with arm templates named whatever you like, as I do test for that, so I need to figure out he scenario where it's not working for you.
Thanks.

[2020-06-13 16:25] sam-cogan commented on #12
I do update the extension when releasing a new version, would esurinf rebuild a new version when there is a change to the TTk help, rather than downloading every time you run it?

[2020-06-13 18:37] #11 closed

[2020-06-15 13:55] JFolberth commented on #13
Sure.  I am using YAML pipelines and trying to run the ttk against a series of arm templates in my pipeline.  Here is the yaml:
[code]

[2020-06-15 20:21] maikvandergaag opened #15 "##[error]Failures found in test results"
This weekend the version of the ARM-TTK extension was updated. Since then our build are failing with the message: ##[error]Failures found in test results.

I would expect that the extension continues and that the failures will be published. But the build ends. We are using YAML pipelines:

- task: RunARMTTKTests@1
  displayName: 'Validate - ARM Templates'
  inputs:
    templatelocation: '$(Build.R

[2020-06-15 20:37] sam-cogan commented on #15
Hi, the extension is designed to fail if any of the tests fail, so you can fail your build when tests fail. This has always been the case, but the test you mention was added in the new version I believe, so this may have been the first time you saw a failure.

To ensure your tests are always published even if it fails you need to set your test publish to always run. You can see an example of this

[2020-06-15 20:46] sam-cogan commented on #12
The template was updated this weekend with the latest tests

[2020-06-15 20:46] #12 closed

[2020-06-16 20:26] sam-cogan commented on #13
@JFolberth I've dug into this, unfortunately there isn't much I can do about this currently. The issue is caused by the test in the TTK, not from the extension. They have made the design decision that the top level or "main" template needs to be called one of 'mainTemplate.json', 'azureDeploy.json', 'prereq.azuredeploy.json'.

We work around this for how the extension calls the TTK, as I agree tha

[2020-06-17 01:24] JFolberth commented on #13
@sam-cogan  Thanks for digging into it.  Just to close the loop I have added [Can't run TTK against ARM templates not named 'mainTemplate.json', 'azureDeploy.json', 'prereq.azuredeploy.json' ]( https://github.com/Azure/arm-ttk/issues/96) to the TTK page

[2020-06-25 20:10] #13 closed

[2020-06-26 13:14] tyconsulting commented on #15
i'm failing on the same test. the skipTests you specified is incorrect. it should be the Id, not the display name of the test. the correct syntax should be:
skipTests: 'IDs-Should-Be-Derived-From-ResourceIDs'

[2020-06-26 15:54] sam-cogan commented on #15
@tyconsulting using spaces, dashes or underscore will work, the TTK itself replaces them with spaces:

https://github.com/Azure/arm-ttk/blob/3ff50f8bb3bce57f2727cc8e2181e45cf1e8fd4c/arm-ttk/Test-AzTemplate.ps1#L333-L339

[2020-06-26 23:38] tyconsulting commented on #15
I initially copied @maikvandergaag 's code and the specific test was still included. Then I used the actual Id and it worked.

[2020-07-04 16:34] #15 closed

[2020-07-17 07:49] drawshah opened #18 "IDs Should Be Derived From ResourceIDs fails in vnet template"
Using the Azure DevOps task:

- task: RunARMTTKTests@1
      inputs:
        templatelocation: '$(System.DefaultWorkingDirectory)\Templates'
        resultLocation: '$(System.DefaultWorkingDirectory)\results'

 i get the following error when it is testing the template at the bottom of post

Error message
Microsoft.PowerShell.Commands.WriteErrorException: Blank ID Property found:
id ParentObject

[

[2020-07-17 13:13] Lahiri opened #19 "Cannot bind argument to parameter 'Name' because it is an empty string."
I get this error in a couple of test pipelines.
It's interesting that I run the same exact yaml pipeline for many other modules and it works perfectly.

![image](https://user-images.githubusercontent.com/1379165/87789727-c9103980-c83f-11ea-8e5a-2b75ce462675.png)

Is there any way to at least get more logging from the task?

[2020-07-17 14:36] sam-cogan commented on #18
This is an issue with the TTK rather than the extension, I have replicated it using the TTK alone. I'll reply to the TTK issue you raised.

[2020-07-17 14:40] sam-cogan commented on #19
Can you provide some more details so I can look into this? Ideally the YAML you are using and the template you are testing against that generates this error.

[2020-07-19 10:29] sam-cogan commented on #18
Yep, looks like it is an issue with the age of some of the TTK files in the extension. I had though I was updating these in the build but looks like not. I am working on updating these now, but the changes have caused some issues so may be a little while,

[2020-07-19 14:44] sam-cogan commented on #18
This should now be resolved and the new update should roll out shortly.

[2020-07-19 14:44] #18 closed

[2020-07-27 19:08] blinkyblink opened #21 "Request for a defined license"
The LICENSE file in this repository is empty.
Additionally, the License link from the [Azure marketplace page](https://marketplace.visualstudio.com/items?itemName=Sam-Cogan.ARMTTKExtension) produces a 404.

I am requesting that you define an explicit license in one or both of these locations so everyone can know the terms that you are releasing this software under.

Thanks for the great work Sam.

[2020-08-08 21:51] sam-cogan commented on #21
Licence has been applied to the git repo now, will get it added to the extension page shortly

[2020-08-08 22:11] #21 closed

[2020-08-25 11:57] roofiq commented on #6
Hey, I'm having same issue.
Here is error I'm getting:
[code]

I have a main template called. build.yml and a side one called build-step.yml. In this site template I have added a step with your task.
[code]

In ARM templates folder I have all the generic templates for different resource and other folder called ParametersExamples.
Even if in template location I'm passing only folder, it fails with

[2020-08-25 12:12] roofiq opened #23 "Invalid JSON primitive, task not working"
Hey, I'm having same issue.
Here is error I'm getting:
[code]

I have a main template called. build.yml and a side one called build-step.yml. In this site template I have added a step with your task.
[code]

In ARM templates folder I have all the generic templates for different resource and other folder called ParametersExamples.
Even if in template location I'm passing only folder, it fails with

[2020-08-25 13:09] sam-cogan commented on #23
Any chance you could provide a copy of the template(s) that is causing the error?

[2020-08-25 14:18] roofiq commented on #23
Yes, I can share. I have customized it, but the error still occurs so it's good example.

The task:
[code]

Redis.json:
[code]

Thank you for help :)

[2020-08-25 14:57] sam-cogan commented on #23
Excellent, thanks for that. Let me look into that and I'll get back to you.

[2020-08-27 11:23] roofiq commented on #23
Hey @sam-cogan, do you have any update on this? :)

[2020-08-28 06:34] sam-cogan commented on #23
No, not yet. It will likely need to wait till the weekend.

[2020-09-01 08:15] sam-cogan commented on #23
@roofiq I've been looking at this issue, but unfortunately when testing the file you supplied it seems to work fine, all tests pass. When you tested, is this the only ARM template in the folder? If your able to, would you be able to send me the file directly, just in case Github is doing something to them? You can email them to mail at samcogan.com

[2020-09-01 13:08] roofiq commented on #23
@sam-cogan, in ARM folder, there are mutliple files. Also in this folder, there is folder ParamExamples, which as well has mutliple json files.
I will try to test it again, checking different scenarios.

[2020-09-02 11:51] roofiq commented on #23
Hey @sam-cogan, so I have extremely simplified the issue here. I have minimized number of files.

Files in the repository:
- `build.yml`
- `Redis.json`

`Redis.json` is as I have pasted few comments above. I have even recopied it from the comment in case github messed up formatting.
`build.yml` is as like below:
[code]
In this scenario, I'm not getting this json primitive error, but just that it *

[2020-09-02 21:20] sam-cogan commented on #23
@roofiq  I've taken both the files you mentioned and added them to the repo here - https://github.com/sam-cogan/ttkdebug
When I run this, they all pass without issue. Can have a look at the build.yaml in that repo and add the test results step to your pipeline? This should show the results and let us see what tests it thinks are failing.

[2020-09-03 10:11] bjh1977 commented on #23
I'm also hitting this issue:

YAML:
[code]

RESULT:
[code]

When I run `Test-AzTemplate` locally against the same file, the tests run successfully.

[2020-09-03 11:42] sam-cogan commented on #23
@bjh1977 any chance you can supply the template your testing?

[2020-09-03 11:46] bjh1977 commented on #23
@sam-cogan  Sure: https://gist.github.com/bjh1977/96d33432dacf875cc979bcefcd2c016f

[2020-09-03 11:47] roofiq commented on #23
Hey @sam-cogan, sorry for that pull request. I misunderstood in the first place 👍
So I have copied this yaml file and run this pipeline. I have enabled system diagnostic for this one. So it is quite interesting, because this step failed again but the results have been published correctly. Below logs.

I have uploaded them as files, because they are pretty long.

RunARMTTKTests logs:
[runarmttktest

[2020-09-03 13:10] sam-cogan commented on #23
@roofiq what you are seeing now is expected. It looks like you are failing one of the tests, the extension is designed to fail the task if you fail a test, so it is behaving as normal. The publish test results step is set to run regardless of whether the test task failed or passed, so that it shows the results. You need to look at the test results and see which test is failing, and determine if th

[2020-09-03 13:12] sam-cogan commented on #23
@bjh1977 I haven't tested yet, however you issue may be this line:
        `  resultLocation: '$(System.DefaultWorkingDirectory)\ARM-TTK.XML'`
The results location needs to be a folder, not a file name. The task creates a file for each arm template it tests inside that folder. Can you try setting it just to a folder rather than a file name please?

[2020-09-03 13:30] bjh1977 commented on #23
@sam-cogan I made the change you suggested.  The result was no different.

Also, I just accepted the default in Azure Devops, so maybe that needs changing:

![image](https://user-images.githubusercontent.com/14811651/92121321-0d589880-edf2-11ea-93b3-7d6e186498b7.png)

[2020-09-08 03:18] jarradbrown opened #24 "publish test results not working"
Hey there. Thanks for this extension. Its working and creating the xml outputs but when I try to publish the test results I get "Only single test suite found, parsing its information. No Result Found to publish. Have I missed something?

2020-09-07T03:52:21.0950691Z ##[debug]Reading test results from file 'C:\agent1\_work\r21\a\results\VMMultiple.deploy-6EC19BDE48D01D707577DCE586377621-armttk.xml'

[2020-09-08 14:29] roofiq commented on #23
Hello, so I'm still getting this Invalid JSON primitive, but the test is being done so I guess we could close this issue :)
I have applied continueOnError feature so it is fulfilling my requirements.

Thanks for help.

[2020-09-08 14:29] #23 closed

[2020-09-09 19:37] sam-cogan commented on #24
It looks like it can't find the results file, so either it's not getting produced for some reason, or it's not finding any templates to run the test against in the first place. Can you provide the log form the actual TTK test as well?

[2020-09-09 23:04] jarradbrown commented on #24
Interesting. Results file? Are you talking about the XML file(s)?

update - my bad. wrong results format. All working!

On Thu, 10 Sep 2020, 05:38 Sam Cogan, <notifications@github.com> wrote:

[2020-09-20 14:44] sam-cogan commented on #24
Excellent, glad  you got it sorted!

[2020-09-20 14:44] #24 closed

[2020-09-20 15:17] sam-cogan commented on #19
@Lahiri any chance you can provide an example template that causes this error?

[2020-09-24 09:00] torivara opened #26 "Location should not be hardcoded for templates"
After the pipeline task automatically updated from 1.0.7 to 1.0.8 I am seeing test fails for "Location should not be hardcoded". I have "hardcoded" the location parameter with [resourcegroup().location], and am unsure as to whether this really can be considered as hardcoded.

Should I change my practice, or is this something that can be added as an exception?

Also, I would like to prevent automat

[2020-09-24 12:25] sam-cogan commented on #26
What is your template name that shows this error?

The reason I ask is that this test has two scenarios, if your testing a top level template then you should use resourcegroup.location as a default value for the location parameter, and any child templates should have the value passed in from the top level template, not using resourcegroup.locaiton.

The problem is that the TTK team made a decision

[2020-09-24 13:32] torivara commented on #26
I think the redefinition of child vs main template could be the issue here. I am not using nested templates at the moment, and have not opted for azuredeploy.json as template names.

Could maybe consider moving these to their own folders and renaming to azuredeploy.json. It would require some more work with my modular approach, but I'm sure this is a step towards a more clean module structure. Goo

[2020-09-28 07:26] #26 closed

[2020-09-28 12:11] sudoom opened #27 "##[error]Failures found in test results"
##[debug]Loading module from path 'D:\a\_tasks\RunARMTTKTests_2ca36c0f-3e63-493e-a71a-de798e634733\1.0.8\Export-NUnitXml.psm1'.
##[debug]Exporting function 'Export-NUnitXml'.
##[debug]Importing function 'Export-NUnitXml'.
##[debug]Loading module from path 'D:\a\_tasks\RunARMTTKTests_2ca36c0f-3e63-493e-a71a-de798e634733\1.0.8\invoke-ttk.psm1'.
##[debug]Exporting function 'Test-FolderContents'.
##[d

[2020-09-28 13:43] sam-cogan commented on #27
This is normal, your template has failed one or more of the TTK test. Look at the test results to see which tests failed and asses whether you can fix it, or you want to skip that test.

[2020-09-28 13:52] sudoom commented on #27
Thanks for your answer. I'll try this, everything goes fine, Thanks.

[2020-09-28 13:57] #27 closed

[2020-10-01 22:13] kilasuit opened #28 "Support for jsonc files"
Looking into this [issue](https://github.com/Azure/arm-ttk/issues/200) (which actually started with looking at the code this extension) I think that with a minor change to this line we could support `.jsonc` files
https://github.com/sam-cogan/arm-ttk-extension/blob/875dc08cddabf74fb05e5aa6a6482fe51fc87544/task/invoke-ttk.psm1#L65

[2020-10-04 13:12] sam-cogan commented on #28
Yep, that should be a pretty quick change, thanks for raising it.

[2020-10-04 15:23] #28 closed

[2020-10-08 14:33] peacemaker360 opened #30 ""No json files found in provided path" if templates are in subfolders"
Hi Sam,

I encountered an issue when trying to run tests on templates in subfolders. The error is:
![image](https://user-images.githubusercontent.com/31038013/95470957-ac3c5b80-0981-11eb-9124-306e740ecf87.png)

Example file structure is:
[code]

As of my debugging, I'd suspect that this might be due to difference how PowerShell and PowerShell core are interpreting the Get-Childitem command:

Power

[2020-10-11 13:29] sam-cogan commented on #28
re-opening this, whilst the change is in the extension, the TTK doesn't actually test the files, need to wait for that to be updated

[2020-10-11 19:59] sam-cogan commented on #30
Thanks for reporting this, it should be resolved now.

[2020-10-13 12:18] paul-haigh opened #32 "[error]You cannot call a method on a null-valued expression."
Trying to run ARM-TTK on our entire repo, which has files in lots of folders.   Most recent run with no '*' in the folder source, nets this output:

[code]

[2020-10-13 13:20] peacemaker360 commented on #30
Yes, works now as expected.

[2020-10-13 19:12] sam-cogan commented on #30
Re-opening, I had to roll back the fix for this as it caused other issues

[2020-10-13 19:17] sam-cogan commented on #32
I think this is down to a change I made at the weekend that has now been rolled back, if you wait for your extension to get updated to 1.0.10 and try again and see if that works.

[2020-10-14 06:42] jagratimodi commented on #30
Hi @sam-cogan, I am facing the same issue as my templates are present in the sub-folders, I am not able to test the templates using this extension.

![image](https://user-images.githubusercontent.com/22763130/95952605-0fad0a00-0e16-11eb-83a3-1e9e53d1b642.png)

Can you please provide ETA on a fix to this current issue?

[2020-10-14 07:19] sam-cogan commented on #30
I'll be working on this issue as soon as possible, but as this is being done in my spare time I'm not able to provide an ETA. I appreciate this is preventing you from using the extension and I'll be aiming to resolve it as soon as possible.

[2020-10-14 10:01] jagratimodi commented on #30
Thanks @sam-cogan  appreciate it! Looking forward to use this extension as soon as this issue resolves.

[2020-10-14 16:33] sam-cogan commented on #30
I've just pushed an update that should fix this, let me know if not.

[2020-10-14 16:33] sam-cogan commented on #32
I've pushed a new version with fixes now, can you try this again please?

[2020-10-15 06:39] jagratimodi commented on #30
@sam-cogan Yes the issue is now resolved, I am able to test the templates in sub-folders. Thanks a lot for quick fix!

[2020-10-15 12:44] paul-haigh commented on #32
Sorry to say, still getting the same with 1.0.11
[code]
[code]

[2020-10-15 12:45] paul-haigh commented on #32
Top part of log (no idea why it's truncating it)

[code]

[2020-10-15 13:43] sam-cogan commented on #32
Any chance I can get a copy of the template where this is happening? Removing anything sensitive. Plus details on how you have the extension setup in azure devops.

[2020-10-15 13:52] paul-haigh commented on #32
Sam, it doesn't seem to pickup any templates - I was rather hoping it would find all of the .json files (there are>100 in the subfolders of the folder I'm pointing it to ARM/*, but there are no templates in that folder directly.

[2020-10-15 14:58] sam-cogan commented on #32
ok, that was the issue the latest change was supposed to address, but your throwing a different error to others. Can you confirm what OS and PS version the agent you are running this in is?
Also just to check, the path should be ARM\* as these are windows paths.

[2020-10-20 09:18] paul-haigh commented on #32
I'm using Windows 2019 from a DevOps pipeline agent (Hosted).

[2020-11-03 10:39] #30 closed

[2020-11-05 08:35] esuomi opened #35 "Linux agent support?"
As stated in the readme, this extension currently supports only Windows agents. As I'm not familiar with extension development for Azure DevOps, I'd be interested to understand how big of an effort would it be to make this extension work on Linux agents as well? Is the problem on the extension side or ARMTTK itself?

[2020-11-18 03:42] dgodfredson opened #36 "Test failing but no details on error / issue provided"
Get an error as follows with no indication of what / where the error is:

![image](https://user-images.githubusercontent.com/46269643/99480084-8310e100-29ab-11eb-8893-d252e30bcf35.png)

It successfully publishes the results as below but clicking the links just shows a 404 error

![image](https://user-images.githubusercontent.com/46269643/99480205-b9e6f700-29ab-11eb-9ad1-0113b64d6ac1.png)

Any tips

[2020-11-27 12:15] Elthan commented on #36
You should be able to click this link and view it:

![image](https://user-images.githubusercontent.com/7212361/100448488-a83fd680-30b2-11eb-8aae-3e25e69b88ac.png)

[2020-11-27 17:15] sam-cogan commented on #36
Yep sorry @Elthan is correct you can click on that link or you can go to the tests tab and see them there.

I'll look into why that link doesn't work.

[2020-11-27 17:16] sam-cogan commented on #35
My understanding is that to work cross platform we'd need to move to using a typescript extension. I think we can then call PS Core from TS, but I'd need to learn a bit of TypeScript.

[2020-11-29 13:17] sam-cogan commented on #19
Will close this until some examples can be provided.

[2020-11-29 13:17] #19 closed

[2020-12-02 14:00] Mwalima commented on #36
I have the same error

this is my .yml in the pipeline
pool:
  name: Azure Pipelines
steps:
- task: Sam-Cogan.ARMTTKExtension.RunARMTTKTests.RunARMTTKTests@1
  displayName: 'Run Azure RM TTK Tests'
  inputs:
    templatelocation: 'D:\a\1\s\RGDeployment\RGDeployment\parameterTemplates\*'
    resultLocation: 'D:\a\1\s\RGDeployment\RGDeployment\TestResults\'

- task: PublishTestResults@2
  displayNam

[2020-12-02 14:41] sam-cogan commented on #36
You need to make sure that your publish test results step always runs even when the test fails, so that it always publishes results. Add this to your results step:

Condition: always()

This will ensure the publishing will happen and your results will be in the tests tab an Azure dev ops.

[2020-12-03 19:58] Mwalima commented on #36
i added the condition but it is still  giving the error

##[debug]Failures found in test results
##[debug]At D:\a\_tasks\RunARMTTKTests_2ca36c0f-3e63-493e-a71a-de798e634733\1.1.0\invoke-ttk.psm1:79 char:9
##[debug]+         throw "Failures found in test results"
##[debug]+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
##[debug]    + CategoryInfo          : OperationStopped: (Failures found in tes

[2020-12-03 20:25] sam-cogan commented on #36
This is expected, your are seeing an error because you are failing a test.

I'm not sure what files you are taking about. The extension creates test results files that are consumed by the publish test step, but they won't persist after your run completes. You need to view the test results tab.

[2020-12-04 08:31] Mwalima commented on #36
now its working. thanx
![image](https://user-images.githubusercontent.com/4654945/101140562-6c0cf880-3613-11eb-9d2e-20fede842c06.png)

[2020-12-04 09:20] Mwalima commented on #36
But one more remark.
![image](https://user-images.githubusercontent.com/4654945/101145463-1a1ba100-361a-11eb-91ec-1a7593b50a2b.png)
you have to click on the link.
then you see the page
https://docs.microsoft.com/en-us/azure/devops/pipelines/test/review-continuous-test-results-after-build?view=azure-devops#surface-test-results-in-the-tests-tab
And if you go back it suddely works.

[2020-12-21 17:21] konjp opened #39 "Support for more detailed report in pipeline output"
Currently, when some of test are failing then only useful information that is printed out is "_#[error]Failures found in test results_" even debug is enabled on pipeline. You need to go to Tests tab to find errors description.
This behavior is OK, for default option, but it would be nice with some input task parameter(e.g. 'detailInfo') to control how much detailed is displayed in pipeline output.

[2021-02-01 16:43] martingbrown opened #40 "Testing the age of APIs doesn't work well"
"Api versions must be the latest or under 2 years old (730 days) - API version 2018-09-15 of Microsoft.DevTestLab/schedules is 870 days old in template file common-rg.template.json"

I've just had this error message. The 2018-09-15 may be 870 days old but according to [MS docs](https://docs.microsoft.com/en-us/azure/templates/microsoft.devtestlab/schedules) it is still the latest version of that A

[2021-02-01 16:49] sam-cogan commented on #40
Hello, this is an issue with the TTK its self, rather than the Azure DevOps extension, I would recommend raising this issue on the TTK project directly - https://github.com/Azure/arm-ttk.

You can skip this test with the extension using the Skip Tests property if  you wish.

[2021-02-01 16:51] martingbrown commented on #40
Sorry just spotted my mistake when you posted. Ignore me.

[2021-02-01 16:51] #40 closed

[2021-02-05 07:48] pim-simons commented on #26
It is now possible to specify a specific filename with the MainTemplateFile parameter, see: [https://github.com/Azure/arm-ttk/pull/261](https://github.com/Azure/arm-ttk/pull/261).

I am using many different templates with specific names that do not use nesting, so as a workaround I have skipped the "Location should not be hardcoded" test. Would be nice if we can specify a MainTemplateFile, or mayb

[2021-02-07 11:35] sam-cogan opened #41 "Add flag for MainTemplatefile"
Original issue raised by @pim-simons  on https://github.com/sam-cogan/arm-ttk-extension/issues/26#issuecomment-773859929

It is now possible to specify a specific filename with the MainTemplateFile parameter, see: Azure/arm-ttk#261.

I am using many different templates with specific names that do not use nesting, so as a workaround I have skipped the "Location should not be hardcoded" test. Would

[2021-02-19 02:40] alancast opened #42 "Support skipping tests within a file"
If there is an autogenerated ARM template that you want to skip test validation on, it would be nice if there was a way to mute some or all tests on just that file.

Our current work around is to put it in a different directory from all our other ARM templates, but it would be preferable to either be able to mute tests within a file, or exclude one file.

Something like `// arm-ttk-disable-file ..

[2021-02-21 18:32] sam-cogan commented on #42
Would a file/folder exclusion option on the extension options work?
If you wanted to do it in the file content then this is probably something that needs to be changed on the TTK itself rather than this extension, if we can do a file level exclusion we could do it in the extension.

[2021-03-10 10:54] Beelzenef opened #45 "Task name missing"
hello there!

I've been working with your extension for a while and yesterday I noticed that, in the search panel in Azure DevOps, ARM TTK doesn't appear anymore.

It only shows up if you search it by "$taskdisplayname$", as if the variable wasnt set up in your release pipeline:

![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/6389665/110616399-c8446300-8194-11eb-9ea8-65e9f2f

[2021-03-10 10:58] davidop commented on #45
I have the same problem. Hope you solve it soon. Great extension!

[2021-03-28 12:39] #41 closed

[2021-03-28 12:40] sam-cogan commented on #45
Thanks for raising this, this has come from a recent change to the way I build the extension, I will get it sorted shortly

[2021-03-29 19:46] sam-cogan commented on #45
Version 1.1.60 should fix this now, thanks for your patience.

[2021-03-29 19:46] #45 closed

[2021-05-10 12:32] alskaer commented on #42
exclude single would would be a great addition. Have similar issue with not wanting a few tests, for a file or two.

[2021-06-02 06:45] konjp commented on #39
I think it is ok with this option to enable CLI output, but I think it still missing information about error.  _Failures found in test results_ is not enough informative. I know that you go in test tab to found details, but quick info in console should be also nice to see.

Something like this would be nice:
-DeploymentTemplate Must Not Contain Hardcoded Uri - azuredeploy.json
-Parameters Must Be

[2021-06-02 09:00] sam-cogan commented on #39
The current implementation tells you which files had tests fail, and how many tests failed for that file. The "Failures found in test results" is the message you get if you don't have cli output turned on, so you may want to check your settings. In my view this provides a good level of detail to help you hone in on where your failed tests are, but then use the test tab to dig into it.

The list of

[2021-06-03 06:54] konjp commented on #39
Cli output option is turned on, because I also get this in output:
`##[warning] '***************\ azuredeploy.json.json failed 1 test`
 Plus ` "Failures found in test results"`  message.

I' just saying below every file that contains error can also written just title of test case that failed. And as with this CLI option you can turn it on/off if somebody does not like it.  If you run arm-ttk direc

[2021-06-03 07:37] sam-cogan commented on #39
I'm still failing to see the value in this, the test results task will present all this information for you, in a much better format, why would you not use that? What benefit do you get from using it at the CLI?

[2021-06-03 07:46] konjp commented on #39
It is correct that you have all details in test tab, and in better format.
But when you are development mode, when you have a lot of iterations, deployments, sometimes saving some clicks it matters a lot :-).
It is not big issue, just personal preference, and I think this task is way better then using scripts in pipeline.

[2021-06-10 17:12] #36 closed

[2021-06-19 21:02] jikuja opened #47 "Add an option to ignore last exit code"
Please, add an option to ignore the exit code.

Sometimes failing tests are ok but leaving task into failed state turn build into a **partially succeeded** state and the data for the **build's changes** is not updated. Then next build will contain same set of commit and new commit as **changes**.

As far as I know ignoring errored exit code on task level is the only way to fix this problem.

[2021-07-08 18:54] spoelstraethan opened #48 "Comma separated -Skip list doesn't handle spaces after a comma"
I tried passing `DeploymentTemplate-Must-Not-Contain-Hardcoded-Uri, apiVersions-Should-Be-Recent`  expecting the task to be smart enough to trim spaces from the entries since the Skip syntax apparently requires the hyphenated versions (ie no whitespace internal to the entries), but unfortunately it failed so I had to remove the space, making the skip list VERY hard to read for humans.

[2021-07-08 19:42] sam-cogan commented on #48
Yep, that's a fair point. Will look to trim them so you can make them more readable.

[2021-07-08 20:12] #48 closed

[2021-07-08 20:20] sam-cogan commented on #48
This should be fixed in version 1.1.63 of the extension

[2021-07-17 16:56] #47 closed

[2021-07-17 16:57] sam-cogan commented on #47
The latest release adds an ignoreExitCode property that if set to true will mean the task succeeds even if some tests fail

[2021-07-20 19:15] aholler2 opened #51 "Support Pass/Fail/Other in NUnit XML result files"
If you run from PowerShell and from the pipeline, PowerShell will return a "recommended" or "warning" result while the extension will mark it as passed. Can we differentiate those in the test result files?

![image](https://user-images.githubusercontent.com/17442804/126382306-a67597c1-8cb2-43ca-be07-0deb6fde9f5c.png)

[2021-10-15 23:59] jlevine-aba opened #53 "How often does this extension get updated with latest TTK"
My fix in TTK got merged today -https://github.com/Azure/arm-ttk/pull/516 - this is a bug that affects most of our templates and we would like to remove it from our pipeline exclusions now that it works properly.  Do you only update this extension when a new full actual release of TTK happens, ad-hoc, etc?

[2021-10-17 10:53] sam-cogan commented on #53
currently updating with the latest TTK is a manual process. For updating tests it's a pretty trivial re-build but for changes to the core TTK code it's a bit more involved as I need to make some manual changes. I'll look to get a new release done in the next day or so.

[2021-10-18 19:44] #53 closed

[2021-11-24 15:26] Splaxi commented on #39
A better error message would make it easier from a PR perspective in Azure DevOps, as the error is "pulled" into the overview:

<img width="191" alt="image" src="https://user-images.githubusercontent.com/8750181/143266556-655d1f79-be7b-47ca-b47a-4d41ccc105a7.png">

So the benefit would be that you got "enough" details served directly in the PR overview and didn't have to navigate to the run / test

[2021-11-24 16:09] Splaxi opened #55 "Static time"
While testing the extension, I think we might have a minor bug in regards to the time of the test execution.

I ran all of these throughout the day, but they all report as being completed 01:00:00 AM:

<img width="88" alt="image" src="https://user-images.githubusercontent.com/8750181/143273201-d6b27db3-39d0-42c7-985b-2b7133b85a35.png">

I just ran some local tests, and did dot source the Export-NU

[2021-11-24 16:16] Splaxi commented on #55
Digging more into the details, it seems that the time attribute for all test-case entries in the NUnit XML file is either ignored (maybe the format is correct??) or that the Test Plan (API) is broken.

<img width="609" alt="image" src="https://user-images.githubusercontent.com/8750181/143275226-a45b1fd3-7bf5-4623-b8b8-9491962e2deb.png">

[2021-11-26 16:40] sam-cogan commented on #55
Thanks for finding that, I agree it does look like NUnit doesn't like the date/time format. I'll look into it.

[2021-12-04 14:03] raymonvt3fifty opened #56 "custom tests"
It would be great if we could point it to a folder with additional custom tests.

[2021-12-15 12:25] Splaxi commented on #55
@sam-cogan Did you get to look deeper into this?

[2021-12-15 21:39] sam-cogan commented on #55
@Splaxi I had a look and there didn't seem to be an obvious cause, then I ran out of time. Will dedicate some time to it next week.

[2021-12-16 04:31] Splaxi commented on #55
Thank you 👍

[2021-12-21 14:28] #55 closed

[2022-02-15 17:34] erik-source opened #58 "Passing a single directory for `templateLocation` runs tests on files in nested directories"
When running tests with a directory specified for `templateLocation`, the extension seems to be picking up non-template json files that live in nested directories. I haven't dug into the source here, so this may be intentional or we may have misconfigured the extension. I wouldn't expect recursion unless specifying `**`. Would love to know if we're doing something wrong here!

We have ADF json fil

[2022-02-15 17:41] sam-cogan commented on #58
The code that fetches the files in a folder is using the ```-recurse``` flag, which I think will pick up all files under that folder and any child folders. I can see why this would be a pain, and I'll look at how we can have an option to turn that off. That said, the TTK should detect when a file is not an ARM template and not test it, so it's odd that it doesn't. Do you have a sample file I could

[2022-02-15 19:28] erik-source commented on #58
Thanks for the prompt reply!

I suspect the TTK picks up ADF files because they are essentially ARM resources that haven't been "merged" into a template yet.

As for a sample file, here is the dataset that started causing the bizarre test failures. I've replaced all of the names of things, but the structure is the same.
[code]

[2022-02-15 21:00] sam-cogan commented on #58
A new version is building now with a recurse flag available. Set this to false to not recurse through all folders.

[2022-02-16 10:12] #58 closed

[2022-03-03 09:15] Devvox93 commented on #56
I second this.

The extension knows where it clones the arm-ttk repo. With a source folder as parameter, a simple Powershell script could copy the contents of that folder to the folder containing the tests in the repo.

[2022-03-04 23:19] sam-cogan commented on #56
Certainly happy to look at adding this in when I can.

[2022-05-24 20:26] sam-cogan commented on #35
I know its been a while, but there is now a cross-platform version of the extension! [https://marketplace.visualstudio.com/items?itemName=Sam-Cogan.ARMTTKExtensionXPlatform](https://marketplace.visualstudio.com/items?itemName=Sam-Cogan.ARMTTKExtensionXPlatform )

[2022-05-24 20:26] #35 closed

[2022-07-15 06:37] akyamada-ms opened #61 "The test fails even though the apiVersion for "Microsoft.OperationsManagement/solutions" is recent."
Hi, When I tested using this extended task, I encountered an event where the test failed even though it was the latest apiVersion.
The latest version of "Microsoft.OperationsManagement/solutions" is "2015-11-01-preview".
[API change log for Microsoft.OperationsManagement solutions - Bicep & ARM template reference | Microsoft Docs](https://docs.microsoft.com/en-us/azure/templates/microsoft.operatio

[2022-08-18 17:57] anand-raju opened #62 "Update ARM-TTK"
The latest version of ARM-TTK supports comments in ARM templates whereas the ARM-TTK extension does not.

When running the extension, the error is:
[code]

Stack Trace:
[code]

Here's how ARM-TTK extension is invoked in the pipeline:

[code]

When running locally

[code]

Runs successfully.

[2022-08-18 20:42] sam-cogan commented on #62
Thanks for the issue, I'll look at updating the TTK version, however I would recommend you switch to the new cross platform version of the TTK extension which is updated more often. https://marketplace.visualstudio.com/items?itemName=Sam-Cogan.ARMTTKExtensionXPlatform

[2022-10-10 22:22] spoelstraethan opened #63 "Need to catch/raise errors on Bicep compilation issues (or use newer ARM TTK and Bicep like XPlat version of extension)"
I've noticed this issue off and on, but hadn't been keeping a close enough eye on the log output until recently.

Scenario:
I have a Bicep file with a ternary construct (in a `var` or in-line) for determining whether to include a `properties:` value dynamically. With the arm-ttk-extension there is an error in the `bicep build` stage and consequently there are some missing .json versions of Bicep f

[2022-10-11 07:35] pim-simons opened #64 "FIPS causing issues"
Since a couple of days we are getting this error when running the task: `##[error]Exception calling ".ctor" with "0" argument(s): "This implementation is not part of the Windows Platform FIPS validated cryptographic algorithms."`

After running the pipeline with debug on I found that this command is failing: https://github.com/sam-cogan/arm-ttk-extension/blob/master/task/Export-NUnitXml.psm1#L134

[2022-10-11 07:39] pim-simons commented on #64
We are looking to move to the new cross platform task, but looking at the code there this seems it might have the same issue: https://github.com/sam-cogan/arm-ttk-extension-xplatform/blob/main/arm-ttk-extension-xplatform/powershell/Export-NUnitXml.psm1#L134

[2022-10-11 15:55] sam-cogan commented on #63
Thanks for the PR. Just for my clarity it sounds like there are two issues here:

1. If the Bicep compiliation of the template fails, we ignore the failed file and show no idication in the test results. We should catch this and show a failure
2. There is a specific issue with your templates that is causing bicep to fail, which seems to be fixed in the cross platform version (
Is this correct?

Ite

[2022-10-11 17:07] spoelstraethan commented on #63
Correct, # 1 is the "defect" where there isn't a "SucceededWithIssues" warning or `failOnBicepConversionError` flag or anything like that to indicate something went wrong, it just shows green on the status.

Part # 2 is two-fold, the Bicep conversion in this extension complains about `#disable-next-line` Bicep directives, but is also fails to handle a multi-line ternary/union that has been valid B

[2022-10-11 17:09] sam-cogan commented on #63
Ok great. I suspect the ternary issue is down to the TTK being older, I will get that updated. I'lll test out the other issue.

[2022-10-23 14:10] #64 closed

[2022-10-23 17:29] sam-cogan commented on #62
The TTK has been updated, but I will likely stop updating this in the near future, so please do switch to the cross platform extension https://marketplace.visualstudio.com/items?itemName=Sam-Cogan.ARMTTKExtensionXPlatform

[2022-10-23 17:29] #62 closed